$primary-color: #006ead;
$secondary-color: #ffc425;
$tertiary-color: #fffaf1;

$light-color: #ffffff;
$dark-color: #141414;
$lightgray-color: #e8e8e8;
$gray-color: #828282;
$error-color: #f86262;

$primary-font: "gilroy-regular";
$primary-font-xbold: "gilroy-extrabold";
$primary-font-light: "gilroy-light";
// $index-banner: "../img/index-banner.jpg";
//CONTACT OFFICE BG
$bg-contact-office: "../img/bg-contact-office.jpg";
$bg-service: "../img/bg-contact-office.jpg";
