.banner {
  overflow: hidden;
}

.index__services {
  .index__services__wrapper {
    padding: 10rem 0;
    position: relative;
    min-height: 76rem;
  

    @include media-query(420px) {
      padding: 5rem 0;
      min-height: 55rem;
    }
    &::after {
      content: '';
      top: 0;
      right: -70rem;
      width: 70rem;
      height: 100%;
      position: absolute;
      background-color: $tertiary-color;
      @include media-query(420px) {
         right: -80rem;
      }
    } 

    .main-text {
      max-width: 50rem;
      margin-bottom: 2rem;
    }

    .slider__wrapper {
      position: relative;
    
     
      .service__slider {
        position: absolute;
        right: 0;
        
    }

    figure {
      position: relative;
      img {
        width: 85rem;
        height: 55rem;
        display: block;
        object-fit: cover;

        @include media-query(1600px) {
          width: 80rem;
          
        }

        @include media-query(1450px) {
          width: 75rem;
          
        }

        @include media-query(1450px) {
          width: 70rem;
          
        }

        @include media-query(1280px) {
          width: 100%;
          
        }
        @include media-query(420px) {
          height: 40rem;
          
        }
      }

      figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 1rem 2rem;
        background-color: rgba($dark-color, .4);
        color: $light-color;
        width: 100%;
        h3 {
          margin-bottom: 1rem;
          color: $secondary-color;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
   
  }

 .service__content__wrapper {
      padding: 0rem 10rem;
      @include media-query(1280px) {
        padding: 0rem 3rem;
        
      }
      @include media-query(420px) {
        padding: 2rem 1.5rem;
     }
     a.btn-book {
       margin-top: 1rem;
       @include btn($secondary-color)
     }
    }
  }

}


.index__services.image-content {
  .slick__slider {
    width:105%;
  }
}

.index__services.content-image {
  .index__services__wrapper  {
    .slider__wrapper.index {
      left: 0;
    }
  }
}


.index__services.content-image {
  .slick__slider {
    width:105%;
  }

  .slider__wrapper{
    left: -3.5rem
  }
}



// .index__services.image-content {
//   .container .row .col-md-6:first-child {
//     order: 2;
//     @include media-query(990px) {
//       order: 1;
//     }
//   }

  .index__services.image-content {
    .container .row .col-md-6:first-child {
      order: 2;
      @include media-query(990px) {
        order: 1;
      }
      
    }

  @include media-query(1280px) {
    .service__content__wrapper {
      padding-left: 3rem;
    }
  }



  .index__services__wrapper {
    padding: 10rem 0;
    position: relative;
    min-height: 76rem;
    @include media-query(420px) {
      padding: 5rem 0;
      min-height: 55rem;
    }
    &::after {
      content: '';
      top: 0;
      left: -70rem;
      width: 70rem;
      height: 100%;
      position: absolute;
      background-color: $tertiary-color;    
      } 
  }

  .slider__wrapper {
    position: relative;

    .service__slider {
      position: absolute;
      left: 0;       
    }
  }

}


.other-services {
  &-box {
    position: relative;
    img {
      object-fit: cover;
      object-position: top center;
      width: 100%;
      height: 50rem;
      display: block;
    }
    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      color: $light-color;
      width: 85%;
      span {
        display: block;
        text-transform: uppercase;
        color: lighten($secondary-color, 10);
        font-size: 2rem;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom: 0;
      }
      h3 {
        font-size: 4rem;
      }
      a {
        @include btn($light-color);
      }

      .text-wrapper {
        opacity: 0;
        transform: translateY(20px);
        transition: 0.5s ease;
      }
      .text-wrapper-header {
        transform: translateY(80px);
        transition: 0.5s ease;
      }
    }
    &-overlay {
      position: absolute;
      z-index: 2;
      background-color: rgba(#0d3d58, 0.9);
      width: 100%;
      height: 100%;
      outline: 2px solid $light-color;
      outline-offset: -15px;
    }
    &:hover .text-wrapper-header {
      transform: translateY(0px);
    }

    &:hover .text-wrapper {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.testimonial {
  background: $tertiary-color;


  &-slider-item {
    padding: 4rem 6rem;
    color: $light-color;
    min-height: 40rem;
    outline: none;
    background: {
     
      size: cover;
      position: center center;
    }
    &-box {
      text-align: center;
      max-width: 50rem;
      margin: 0 auto;
      h3 {
        font-size: 2.8rem;
        line-height: 1;
      }
      ul {
        display: flex;
        justify-content: center;
        li {
          color: gold;
          padding: 0 0.2rem;
        }
      }
      img {
        display: block;
        text-align: center;
        border-radius: 50%;
        margin: 0 auto;
      }
    }
  }
}



.bg-testimonial-view {
  background-image: linear-gradient(
      rgba($dark-color, 0.7),
      rgba($dark-color, 0.7)
    ),
    url(../images/index-accomodation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.offer-special {
  .news-box {
    margin-bottom: 2rem;
    border: 1px solid $gray-color;
    min-height: 56rem;
    transition: 0.5s ease;
    &:hover {
      box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
    }
    &-img {
      margin-bottom: 2rem;
      img {
        width: 100%;
        height: 23rem;
        object-fit: cover;
        object-position: center center;
      }
    }
    &-content {
      padding: 1rem;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      h3 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
        text-align: center;
      }
      p {
        margin-bottom: 3rem;
      }

      a {
        @include btn($secondary-color);
      }
    }
  }
}
