@media screen and (max-width: 1025px) {
  footer {
    .footer-box {
      flex-direction: column;
      a,
      li {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  header .header-wrapper-info {
    ul li {
      font-size: 1rem;
    }
  }
  .banner {
    .banner-content {
      width: 80%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 7rem;
        line-height: 1.2;
      }
    }

    .social-media {
      top: 90%;
      flex-direction: row;
      right: 50%;
      transform: translateX(50%);
      li {
        padding: 0 2rem;
      }
    }
  }
  .main-menu {
    nav li {
      margin-bottom: 2rem;
      a {
        font-size: 4rem;
      }
    }
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .other-services-box {
    margin-bottom: 2rem;
  }

  .news-box {
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  header .header-wrapper-info {
    ul li {
      margin-left: 1.5rem;
    }
  }

  .index-swiss .block-content {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 450px) {
  header .header-wrapper-info {
    display: none;
  }

  .banner {
    .banner-content {
      width: 90%;
      h1 {
        font-size: 6rem;
        line-height: 1.2;
        width: 100%;
      }
    }
  }

  .slider-accomodation,
  .slider-activities {
    figure {
      figcaption {
        margin: 0;
        left: 4.5rem;
      }
    }
  }

  .slider-swiss {
    figure {
      width: 100%;
    }
  }
  .testimonial-slider {
    button {
      display: none !important;
    }
  }
}

@media screen and (max-width: 450px) {
  .branding {
    img {
      width: 70%;
    }
  }

  .banner {
    .banner-content {
      width: 90%;
      h1 {
        font-size: 5rem;
        line-height: 1.2;
        width: 100%;
      }
    }
  }
}
