@-webkit-keyframes slide-up { 0% { -webkit-transform: translateY(-2rem); transform: translateY(-2rem);
    opacity: 0; }
  100% { -webkit-transform: translateY(0rem); transform: translateY(0rem);
    opacity: 1; } }

@keyframes slide-up { 0% { -webkit-transform: translateY(-2rem); transform: translateY(-2rem);
    opacity: 0; }
  100% { -webkit-transform: translateY(0rem); transform: translateY(0rem);
    opacity: 1; } }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

main { display: block; }

hr { -webkit-box-sizing: content-box; box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

a { background-color: transparent; }

abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ -webkit-text-decoration: underline dotted; text-decoration: underline dotted; /* 2 */ }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

button, input { /* 1 */ overflow: visible; }

button, select { /* 1 */ text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

progress { vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

details { display: block; }

summary { display: list-item; }

template { display: none; }

[hidden] { display: none; }

table { display: block; width: auto; height: auto; margin: 0; padding: 0; border: none; border-collapse: inherit; border-spacing: 0; border-color: inherit; text-align: left; font-weight: inherit; -webkit-border-horizontal-spacing: 0; -webkit-border-vertical-spacing: 0; }

html { font-size: 62.5%; line-height: 1.5; }

@media screen and (max-width: 600px) { html { font-size: 60%; line-height: 1.6; } }

@media screen and (max-width: 520px) { html { font-size: 58%; line-height: 1.6; } }

@media screen and (max-width: 420px) { html { font-size: 56%; line-height: 1.8; } }

body { font-family: "gilroy-regular"; color: #141414; overflow-x: hidden; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

.container, .container-fluid { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

@media (min-width: 380px) { .container { max-width: 370px; } }

@media (min-width: 576px) { .container { max-width: 540px; } }

@media (min-width: 768px) { .container { max-width: 720px; } }

@media (min-width: 992px) { .container { max-width: 960px; } }

@media (min-width: 1200px) { .container { max-width: 1140px; } }

.container, .container-fluid { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

.row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }

@media screen and (min-width: 375px) { .col-xs-1 { -webkit-box-flex: 0!important; -ms-flex: 0 0 8.33333%!important; flex: 0 0 8.33333%!important; max-width: 8.33333%; }
  .col-xs-2 { -webkit-box-flex: 0!important; -ms-flex: 0 0 16.66667%!important; flex: 0 0 16.66667%!important; max-width: 16.66667%; }
  .col-xs-3 { -webkit-box-flex: 0!important; -ms-flex: 0 0 25%!important; flex: 0 0 25%!important; max-width: 25%; }
  .col-xs-4 { -webkit-box-flex: 0!important; -ms-flex: 0 0 33.33333%!important; flex: 0 0 33.33333%!important; max-width: 33.33333%; }
  .col-xs-5 { -webkit-box-flex: 0!important; -ms-flex: 0 0 41.66667%!important; flex: 0 0 41.66667%!important; max-width: 41.66667%; }
  .col-xs-6 { -webkit-box-flex: 0!important; -ms-flex: 0 0 50%!important; flex: 0 0 50%!important; max-width: 50%; }
  .col-xs-7 { -webkit-box-flex: 0!important; -ms-flex: 0 0 58.33333%!important; flex: 0 0 58.33333%!important; max-width: 58.33333%; }
  .col-xs-8 { -webkit-box-flex: 0!important; -ms-flex: 0 0 66.66667%!important; flex: 0 0 66.66667%!important; max-width: 66.66667%; }
  .col-xs-9 { -webkit-box-flex: 0!important; -ms-flex: 0 0 75%!important; flex: 0 0 75%!important; max-width: 75%; }
  .col-xs-10 { -webkit-box-flex: 0!important; -ms-flex: 0 0 83.33333%!important; flex: 0 0 83.33333%!important; max-width: 83.33333%; }
  .col-xs-11 { -webkit-box-flex: 0!important; -ms-flex: 0 0 91.66667%!important; flex: 0 0 91.66667%!important; max-width: 91.66667%; }
  .col-xs-12 { -webkit-box-flex: 0!important; -ms-flex: 0 0 100%!important; flex: 0 0 100%!important; max-width: 100%; } }

@media screen and (min-width: 576px) { .col-sm-1 { -webkit-box-flex: 0!important; -ms-flex: 0 0 8.33333%!important; flex: 0 0 8.33333%!important; max-width: 8.33333%; }
  .col-sm-2 { -webkit-box-flex: 0!important; -ms-flex: 0 0 16.66667%!important; flex: 0 0 16.66667%!important; max-width: 16.66667%; }
  .col-sm-3 { -webkit-box-flex: 0!important; -ms-flex: 0 0 25%!important; flex: 0 0 25%!important; max-width: 25%; }
  .col-sm-4 { -webkit-box-flex: 0!important; -ms-flex: 0 0 33.33333%!important; flex: 0 0 33.33333%!important; max-width: 33.33333%; }
  .col-sm-5 { -webkit-box-flex: 0!important; -ms-flex: 0 0 41.66667%!important; flex: 0 0 41.66667%!important; max-width: 41.66667%; }
  .col-sm-6 { -webkit-box-flex: 0!important; -ms-flex: 0 0 50%!important; flex: 0 0 50%!important; max-width: 50%; }
  .col-sm-7 { -webkit-box-flex: 0!important; -ms-flex: 0 0 58.33333%!important; flex: 0 0 58.33333%!important; max-width: 58.33333%; }
  .col-sm-8 { -webkit-box-flex: 0!important; -ms-flex: 0 0 66.66667%!important; flex: 0 0 66.66667%!important; max-width: 66.66667%; }
  .col-sm-9 { -webkit-box-flex: 0!important; -ms-flex: 0 0 75%!important; flex: 0 0 75%!important; max-width: 75%; }
  .col-sm-10 { -webkit-box-flex: 0!important; -ms-flex: 0 0 83.33333%!important; flex: 0 0 83.33333%!important; max-width: 83.33333%; }
  .col-sm-11 { -webkit-box-flex: 0!important; -ms-flex: 0 0 91.66667%!important; flex: 0 0 91.66667%!important; max-width: 91.66667%; }
  .col-sm-12 { -webkit-box-flex: 0!important; -ms-flex: 0 0 100%!important; flex: 0 0 100%!important; max-width: 100%; } }

@media screen and (min-width: 992px) { .col-md-1 { -webkit-box-flex: 0!important; -ms-flex: 0 0 8.33333%!important; flex: 0 0 8.33333%!important; max-width: 8.33333%; }
  .col-md-2 { -webkit-box-flex: 0!important; -ms-flex: 0 0 16.66667%!important; flex: 0 0 16.66667%!important; max-width: 16.66667%; }
  .col-md-3 { -webkit-box-flex: 0!important; -ms-flex: 0 0 25%!important; flex: 0 0 25%!important; max-width: 25%; }
  .col-md-4 { -webkit-box-flex: 0!important; -ms-flex: 0 0 33.33333%!important; flex: 0 0 33.33333%!important; max-width: 33.33333%; }
  .col-md-5 { -webkit-box-flex: 0!important; -ms-flex: 0 0 41.66667%!important; flex: 0 0 41.66667%!important; max-width: 41.66667%; }
  .col-md-6 { -webkit-box-flex: 0!important; -ms-flex: 0 0 50%!important; flex: 0 0 50%!important; max-width: 50%; }
  .col-md-7 { -webkit-box-flex: 0!important; -ms-flex: 0 0 58.33333%!important; flex: 0 0 58.33333%!important; max-width: 58.33333%; }
  .col-md-8 { -webkit-box-flex: 0!important; -ms-flex: 0 0 66.66667%!important; flex: 0 0 66.66667%!important; max-width: 66.66667%; }
  .col-md-9 { -webkit-box-flex: 0!important; -ms-flex: 0 0 75%!important; flex: 0 0 75%!important; max-width: 75%; }
  .col-md-10 { -webkit-box-flex: 0!important; -ms-flex: 0 0 83.33333%!important; flex: 0 0 83.33333%!important; max-width: 83.33333%; }
  .col-md-11 { -webkit-box-flex: 0!important; -ms-flex: 0 0 91.66667%!important; flex: 0 0 91.66667%!important; max-width: 91.66667%; }
  .col-md-12 { -webkit-box-flex: 0!important; -ms-flex: 0 0 100%!important; flex: 0 0 100%!important; max-width: 100%; } }

@media screen and (min-width: 768px) { .col-lg-1 { -webkit-box-flex: 0!important; -ms-flex: 0 0 8.33333%!important; flex: 0 0 8.33333%!important; max-width: 8.33333%; }
  .col-lg-2 { -webkit-box-flex: 0!important; -ms-flex: 0 0 16.66667%!important; flex: 0 0 16.66667%!important; max-width: 16.66667%; }
  .col-lg-3 { -webkit-box-flex: 0!important; -ms-flex: 0 0 25%!important; flex: 0 0 25%!important; max-width: 25%; }
  .col-lg-4 { -webkit-box-flex: 0!important; -ms-flex: 0 0 33.33333%!important; flex: 0 0 33.33333%!important; max-width: 33.33333%; }
  .col-lg-5 { -webkit-box-flex: 0!important; -ms-flex: 0 0 41.66667%!important; flex: 0 0 41.66667%!important; max-width: 41.66667%; }
  .col-lg-6 { -webkit-box-flex: 0!important; -ms-flex: 0 0 50%!important; flex: 0 0 50%!important; max-width: 50%; }
  .col-lg-7 { -webkit-box-flex: 0!important; -ms-flex: 0 0 58.33333%!important; flex: 0 0 58.33333%!important; max-width: 58.33333%; }
  .col-lg-8 { -webkit-box-flex: 0!important; -ms-flex: 0 0 66.66667%!important; flex: 0 0 66.66667%!important; max-width: 66.66667%; }
  .col-lg-9 { -webkit-box-flex: 0!important; -ms-flex: 0 0 75%!important; flex: 0 0 75%!important; max-width: 75%; }
  .col-lg-10 { -webkit-box-flex: 0!important; -ms-flex: 0 0 83.33333%!important; flex: 0 0 83.33333%!important; max-width: 83.33333%; }
  .col-lg-11 { -webkit-box-flex: 0!important; -ms-flex: 0 0 91.66667%!important; flex: 0 0 91.66667%!important; max-width: 91.66667%; }
  .col-lg-12 { -webkit-box-flex: 0!important; -ms-flex: 0 0 100%!important; flex: 0 0 100%!important; max-width: 100%; } }

@media screen and (min-width: 1200px) { .col-xl-1 { -webkit-box-flex: 0!important; -ms-flex: 0 0 8.33333%!important; flex: 0 0 8.33333%!important; max-width: 8.33333%; }
  .col-xl-2 { -webkit-box-flex: 0!important; -ms-flex: 0 0 16.66667%!important; flex: 0 0 16.66667%!important; max-width: 16.66667%; }
  .col-xl-3 { -webkit-box-flex: 0!important; -ms-flex: 0 0 25%!important; flex: 0 0 25%!important; max-width: 25%; }
  .col-xl-4 { -webkit-box-flex: 0!important; -ms-flex: 0 0 33.33333%!important; flex: 0 0 33.33333%!important; max-width: 33.33333%; }
  .col-xl-5 { -webkit-box-flex: 0!important; -ms-flex: 0 0 41.66667%!important; flex: 0 0 41.66667%!important; max-width: 41.66667%; }
  .col-xl-6 { -webkit-box-flex: 0!important; -ms-flex: 0 0 50%!important; flex: 0 0 50%!important; max-width: 50%; }
  .col-xl-7 { -webkit-box-flex: 0!important; -ms-flex: 0 0 58.33333%!important; flex: 0 0 58.33333%!important; max-width: 58.33333%; }
  .col-xl-8 { -webkit-box-flex: 0!important; -ms-flex: 0 0 66.66667%!important; flex: 0 0 66.66667%!important; max-width: 66.66667%; }
  .col-xl-9 { -webkit-box-flex: 0!important; -ms-flex: 0 0 75%!important; flex: 0 0 75%!important; max-width: 75%; }
  .col-xl-10 { -webkit-box-flex: 0!important; -ms-flex: 0 0 83.33333%!important; flex: 0 0 83.33333%!important; max-width: 83.33333%; }
  .col-xl-11 { -webkit-box-flex: 0!important; -ms-flex: 0 0 91.66667%!important; flex: 0 0 91.66667%!important; max-width: 91.66667%; }
  .col-xl-12 { -webkit-box-flex: 0!important; -ms-flex: 0 0 100%!important; flex: 0 0 100%!important; max-width: 100%; } }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 { position: relative; width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px; }

@font-face { font-family: "gilroy-light"; src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"), url("../fonts/gilroy-light-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: "gilroy-extrabold"; src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"), url("../fonts/gilroy-extrabold-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: "gilroy-regular"; src: url("../fonts/Gilroy-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

.x-large { font-size: 5rem; line-height: 1.3; margin-bottom: 15px; font-weight: 600; }

.large { font-size: 1.5rem; line-height: 1.3; }

small { font-size: 0.8rem; }

.text-secondary { color: #ffc425; }

.text-primary { color: #006ead; }

.text-gray { color: #e8e8e8; }

.text-white { color: #ffffff; }

a { text-decoration: none; color: #141414; }

p, a, li, input, div { font-size: 1.6rem; }

p { margin-bottom: 1.8rem; line-height: 1.6; }

h1 { font-size: 3.2rem; margin-bottom: 1.4rem; }

h2 { font-size: 2.5rem; margin-bottom: 1.4rem; }

h3 { font-size: 2rem; margin-bottom: 1.4rem; }

h4 { font-size: 1.5rem; margin-bottom: 1.4rem; }

h5 { font-size: 1.3rem; margin-bottom: 1.4rem; }

li { margin-bottom: 1.4rem; }

ul { list-style: none; }

.primary-header { font-size: 4rem; font-family: "gilroy-regular"; letter-spacing: 2px; margin-bottom: 6rem; font-weight: bold; text-transform: uppercase; }

.sub-header { font-size: 2.5rem; font-family: "gilroy-regular"; margin-bottom: 3rem; font-weight: bold; }

.block-header { font-size: 3.8rem; margin-bottom: 1.4rem; }

.m-1 { margin: 1rem !important; }

.mb-1 { margin-bottom: 1rem !important; }

.my-1 { margin: 1rem 0 !important; }

.p-1 { padding: 1rem !important; }

.py-1 { padding: 1rem 0; }

.px-1 { padding: 0 1rem !important; }

.pr-1 { padding-right: 1rem; }

.m-2 { margin: 2rem !important; }

.mb-2 { margin-bottom: 2rem !important; }

.my-2 { margin: 2rem 0 !important; }

.p-2 { padding: 2rem !important; }

.py-2 { padding: 2rem 0; }

.px-2 { padding: 0 2rem !important; }

.pr-2 { padding-right: 2rem; }

.m-3 { margin: 3rem !important; }

.mb-3 { margin-bottom: 3rem !important; }

.my-3 { margin: 3rem 0 !important; }

.p-3 { padding: 3rem !important; }

.py-3 { padding: 3rem 0; }

.px-3 { padding: 0 3rem !important; }

.pr-3 { padding-right: 3rem; }

.m-4 { margin: 4rem !important; }

.mb-4 { margin-bottom: 4rem !important; }

.my-4 { margin: 4rem 0 !important; }

.p-4 { padding: 4rem !important; }

.py-4 { padding: 4rem 0; }

.px-4 { padding: 0 4rem !important; }

.pr-4 { padding-right: 4rem; }

.m-5 { margin: 5rem !important; }

.mb-5 { margin-bottom: 5rem !important; }

.my-5 { margin: 5rem 0 !important; }

.p-5 { padding: 5rem !important; }

.py-5 { padding: 5rem 0; }

.px-5 { padding: 0 5rem !important; }

.pr-5 { padding-right: 5rem; }

.m-6 { margin: 6rem !important; }

.mb-6 { margin-bottom: 6rem !important; }

.my-6 { margin: 6rem 0 !important; }

.p-6 { padding: 6rem !important; }

.py-6 { padding: 6rem 0; }

.px-6 { padding: 0 6rem !important; }

.pr-6 { padding-right: 6rem; }

.m-7 { margin: 7rem !important; }

.mb-7 { margin-bottom: 7rem !important; }

.my-7 { margin: 7rem 0 !important; }

.p-7 { padding: 7rem !important; }

.py-7 { padding: 7rem 0; }

.px-7 { padding: 0 7rem !important; }

.pr-7 { padding-right: 7rem; }

.m-8 { margin: 8rem !important; }

.mb-8 { margin-bottom: 8rem !important; }

.my-8 { margin: 8rem 0 !important; }

.p-8 { padding: 8rem !important; }

.py-8 { padding: 8rem 0; }

.px-8 { padding: 0 8rem !important; }

.pr-8 { padding-right: 8rem; }

.m-9 { margin: 9rem !important; }

.mb-9 { margin-bottom: 9rem !important; }

.my-9 { margin: 9rem 0 !important; }

.p-9 { padding: 9rem !important; }

.py-9 { padding: 9rem 0; }

.px-9 { padding: 0 9rem !important; }

.pr-9 { padding-right: 9rem; }

.m-10 { margin: 10rem !important; }

.mb-10 { margin-bottom: 10rem !important; }

.my-10 { margin: 10rem 0 !important; }

.p-10 { padding: 10rem !important; }

.py-10 { padding: 10rem 0; }

.px-10 { padding: 0 10rem !important; }

.pr-10 { padding-right: 10rem; }

.no-padding { padding: 0 !important; }

.no-margin { margin: 0 !important; }

.no-wrap { white-space: nowrap; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-justify { text-align: justify; }

.text-bold { font-weight: bold; }

.text-italic { font-style: italic; }

.float-left { float: left; }

.float-right { float: right; }

.text-primary { color: #006ead !important; }

.text-light { color: #ffffff !important; }

.text-dark { color: #141414 !important; }

.bg-primary { color: #ffffff; background-color: #006ead; color: #ffffff; }

.bg-secondary { color: #ffffff; background-color: #ffc425; color: #ffffff; }

.bg-tertiary { color: #141414; background-color: #fffaf1; color: #141414; }

.bg-light { color: #141414; background-color: #ffffff; color: #141414; }

.bg-dark { color: #ffffff; background-color: #141414; color: #ffffff; }

.bg-transparent { color: #006ead; background: transparent; border: 1px solid #006ead; }

.bg-gray { color: #ffffff; background-color: #828282; color: #ffffff; }

.bg-lightgray { color: #141414; background-color: #e8e8e8; color: #141414; }

.d-flex { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; }

.d-inline-block { display: inline-block !important; }

.d-block { display: block !important; }

.d-inline { display: inline !important; }

.no-padding { padding: 0; }

.no-border { border-right: none !important; }

.no-marging { margin: 0; }

@media screen and (max-width: 1400px) { .hide-lg { display: none; } }

@media screen and (max-width: 800px) { .hide-md { display: none; } }

@media screen and (max-width: 550px) { .hide-sm { display: none; } }

.justify-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.justify-start { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.justify-end { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.justify-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.justify-around { -ms-flex-pack: distribute; justify-content: space-around; }

.justify-evenly { -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.align-center { -ms-flex-line-pack: center; align-content: center; }

.width-full { width: 100% !important; }

.width-half { width: 50%; }

header { position: relative; z-index: 6; color: #141414; max-width: 83.2%; margin: 0 auto; }

header .header-wrapper-info { background-color: #ffffff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding: 1rem; }

header .header-wrapper-info ul li { display: inline-block; margin-right: 2rem; margin-bottom: 0; font-size: 1.4rem; }

header .header-wrapper-info p { margin-right: 2rem; }

.toggle-menu { position: absolute; right: 1rem; top: 5rem; z-index: 9999; }

.toggle-menu span, .toggle-menu span:after, .toggle-menu span:before { position: relative; width: 3rem; height: 2px; background: #ffffff; display: inline-block; cursor: pointer; }

.toggle-menu span:after { position: absolute; content: ""; top: -0.8rem; }

.toggle-menu span:before { position: absolute; content: ""; top: 0.8rem; }

.social-media { margin-right: 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.social-media p { margin-bottom: 0; }

.social-media li a { color: #141414; font-size: 1.8rem; }

.main-menu { position: absolute; top: -100%; left: 0; width: 100%; height: 100vh; background-color: rgba(0, 110, 173, 0.95); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; z-index: 8; -webkit-transition: top 0.5s ease; transition: top 0.5s ease; }

.main-menu #close-menu { position: absolute; right: 2rem; top: 2rem; font-size: 2rem; font-weight: bold; color: #ffffff; cursor: pointer; -webkit-transition: 0.5s ease; transition: 0.5s ease; }

.main-menu #close-menu:hover { color: #ffc425; }

.main-menu #close-menu i { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.main-menu nav { padding: 1rem; margin-left: 5rem; }

.main-menu nav li { text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main-menu nav li:hover > a { color: #ffc425; }

.main-menu nav li a { font-size: 4.5rem; font-weight: bolder; letter-spacing: 3px; -webkit-transition: 0.5s ease; transition: 0.5s ease; color: #ffffff; }

.main-menu nav li ul { display: -webkit-box; display: -ms-flexbox; display: flex; padding-top: 2rem; opacity: 0; -webkit-transition: 0.5s ease; transition: 0.5s ease; }

.main-menu nav li ul li { margin-left: 2rem; }

.main-menu nav li ul li a { font-size: 1.6rem; text-transform: uppercase; position: relative; }

.main-menu nav li ul li a::before { content: ""; position: absolute; left: 0; bottom: -10px; width: 0%; height: 3px; background-color: #ffc425; -webkit-transition: ease 0.5s; transition: ease 0.5s; }

.main-menu nav li .link-blurb { position: absolute; right: 2rem; bottom: 20vh; width: 30vw; padding: 0 2rem; color: #ffffff; opacity: 0; }

.main-menu nav li .link-blurb h3 { text-transform: uppercase; }

.main-menu nav li .link-blurb hr { width: 95%; margin-bottom: 2rem; background-color: #ffc425; height: 2px; }

nav li:hover ul, nav li:hover .link-blurb { -webkit-animation: slide-up 0.5s linear; animation: slide-up 0.5s linear; opacity: 1; }

nav li ul li a:hover::before { width: 100%; }

.social-media-menu { position: absolute; left: 5rem; bottom: 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; }

.social-media-menu li { margin-left: 2rem; }

.social-media-menu li a { font-size: 2.5rem; color: #fff; }

.contact-info-menu { position: absolute; bottom: 2rem; right: 4rem; display: -webkit-box; display: -ms-flexbox; display: flex; }

.contact-info-menu li { margin-right: 3rem; color: #ffffff; }

.open-nav { top: 0; }

.banner { position: relative; width: 100%; height: 100vh; overflow: hidden; }

.banner video { position: absolute; top: 0; left: 0; width: 100%; }

.banner .video-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background-color: rgba(0, 110, 173, 0.7); z-index: 1; }

.branding { position: absolute; top: 0; }

.banner-content { position: absolute; top: 55%; left: 8%; -webkit-transform: translateY(-50%); transform: translateY(-50%); color: #ffffff; z-index: 3; }

.banner-content h1 { font-size: 10rem; font-family: "gilroy-extrabold"; line-height: 1; margin-bottom: 2rem; text-transform: capitalize; text-shadow: 2px 4px 10px rgba(20, 20, 20, 0.2); }

.banner-content a { padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffffff; letter-spacing: 3px; border: 2px solid #ffffff; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; }

.banner-content a:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffffff; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.banner-content a:hover { color: #141414; }

.banner-content a:hover:after { top: 0; }

@media (min-aspect-ratio: 16 / 9) { #bg-video { width: 100%; height: auto; } }

@media (max-aspect-ratio: 16 / 9) { #bg-video { width: auto; height: 100%; } }

form label { display: block; margin-bottom: 0.5rem; }

form input, form select, form textarea { padding: 0.8rem 1rem; border-radius: 0.5rem; margin-bottom: 2rem; border: none; }

form input[type="submit"] { padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffffff; letter-spacing: 3px; border: 2px solid #ffffff; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; border: none; }

form input[type="submit"]:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffffff; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

form input[type="submit"]:hover { color: #141414; }

form input[type="submit"]:hover:after { top: 0; }

.contact-map iframe { display: block; }

footer { background-color: #006ead; padding: 2rem 0; color: #ffffff; }

.footer-box { padding: 1.5rem; }

.footer-box img { margin-right: 2rem; width: 8rem; height: 12rem; -o-object-fit: cover; object-fit: cover; }

.footer-box h3 { text-transform: uppercase; letter-spacing: 2px; font-weight: bold; }

.footer-box ul { list-style: none; }

.footer-box h5 { font-size: 1.6rem; margin-bottom: 0.5rem; }

.footer-box h5 i { padding-right: 0.5rem; }

.footer-box a { color: #ffffff; }

.footer-box form input { padding: 1rem 2rem; margin-bottom: 2rem; width: 75%; border: none; }

@media screen and (max-width: 415px) { .footer-box form input { width: 100%; } }

.footer-box form button { width: 20%; padding: 1rem; color: #ffffff; text-align: center; background: #ffc425; }

@media screen and (max-width: 415px) { .footer-box form button { width: 100%; } }

.copyright { background-color: #004e7a; }

.copyright-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1rem 0; color: #ffffff; }

.copyright-wrapper p { margin-bottom: 0; }

.copyright-wrapper ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.copyright-wrapper ul li { margin-left: 2rem; margin-bottom: 0; }

.copyright-wrapper a { color: #ffffff; }

.call-out { padding: 3rem 0; }

.call-out:before, .call-out:after { content: ""; display: table; clear: both; }

.call-out h3 { margin-bottom: 0; font-size: 2.3rem; font-weight: 300; }

.article-box { border: 1px solid #e8e8e8; -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 1.5rem; }

.article-box img { -o-object-fit: cover; object-fit: cover; height: 15rem; width: 100%; display: block; }

.article-box-content { padding: 1rem; min-height: 20rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.article-box-content h3 { font-size: 1.8rem; color: #006ead; }

.article-box-content p { font-size: 1.4rem; }

.article-box-content a { font-size: 1.4rem; }

.section-header { margin-bottom: 3rem; }

.section-header span, .section-header .toggle-menu span:after, .toggle-menu .section-header span:after, .section-header .toggle-menu span:before, .toggle-menu .section-header span:before { font-size: 1.8rem; font-weight: 600; letter-spacing: 3px; }

.section-header h2 { text-transform: uppercase; }

.lower-book { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.7)), to(rgba(20, 20, 20, 0.7))), url(../images/cta-lower.jpg); background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../images/cta-lower.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 40vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.lower-book .lower-book-content { text-align: center; color: #ffffff; }

.lower-book .lower-book-content h2 { font-size: 4rem; line-height: 1.2; letter-spacing: 2px; font-family: "gilroy-extrabold"; margin-bottom: 3rem; }

@media screen and (max-width: 415px) { .lower-book .lower-book-content h2 { font-size: 2.9rem; line-height: 1.4; } }

.lower-book .lower-book-content .btn-cta { padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffffff; letter-spacing: 3px; border: 2px solid #ffffff; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; }

.lower-book .lower-book-content .btn-cta:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffffff; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.lower-book .lower-book-content .btn-cta:hover { color: #141414; }

.lower-book .lower-book-content .btn-cta:hover:after { top: 0; }

.contact-callout { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8))), url(../img/main-banner.jpg); background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/main-banner.jpg); height: 40rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #ffffff; }

.contact-callout-wrapper { max-width: 70rem; }

.contact-callout-wrapper h2 { font-size: 3.5rem; font-weight: 300; }

.banner-page { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 110, 173, 0.2)), to(rgba(20, 20, 20, 0.9))), url(../images/banner-accomodation.jpg); background-image: linear-gradient(rgba(0, 110, 173, 0.2), rgba(20, 20, 20, 0.9)), url(../images/banner-accomodation.jpg); min-height: 70vh; width: 100%; }

@media screen and (max-width: 415px) { .banner-page { min-height: 55vh; } }

.banner-page .banner-content-page { position: absolute; top: 40%; left: 10%; }

.banner-page .banner-content-page h2 { font-size: 8rem; font-family: "gilroy-extrabold"; line-height: 1; color: #ffffff; text-transform: capitalize; letter-spacing: 3px; }

@media screen and (max-width: 415px) { .banner-page .banner-content-page h2 { font-size: 5rem; } }

.index-accomodation figure { position: relative; margin: 0 0 0 -3rem; }

.index-accomodation figure img { width: 100%; height: 55rem; -o-object-fit: cover; object-fit: cover; -o-object-position: center center; object-position: center center; display: block; }

.index-accomodation figure figcaption { position: absolute; right: 2rem; top: 75%; z-index: 3; max-width: 52rem; min-height: 19rem; background-color: #ffffff; color: #141414; padding: 2rem; -webkit-box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.4); box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.4); font-size: 1.5rem; outline: 1px solid #ffc425; outline-offset: -1rem; }

.index-accomodation figure figcaption h3 { color: #ffc425; letter-spacing: 1px; text-shadow: 1px 1px 3px rgba(242, 242, 242, 0.1); }

.index-accomodation .block-content ul { margin-left: 2rem; }

.index-accomodation .block-content ul li a { font-weight: bold; text-transform: uppercase; }

.index-accomodation .block-content ul li a:hover { color: #ffc425; text-decoration: underline; }

.index-accomodation .block-content .btn-book { margin-top: 3rem; padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffc425; letter-spacing: 3px; border: 2px solid #ffc425; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; }

.index-accomodation .block-content .btn-book:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffc425; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.index-accomodation .block-content .btn-book:hover { color: #ffffff; }

.index-accomodation .block-content .btn-book:hover:after { top: 0; }

.index-swiss figure { position: relative; margin: 0 -3rem 0 0rem; }

.index-swiss figure img { width: 100%; height: 55rem; -o-object-fit: cover; object-fit: cover; -o-object-position: center center; object-position: center center; display: block; }

.index-swiss figure figcaption { position: absolute; right: 2rem; top: 70%; z-index: 3; max-width: 52rem; min-height: 19rem; background-color: #ffffff; color: #141414; padding: 2rem; -webkit-box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.4); box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.4); font-size: 1.5rem; outline: 1px solid #ffc425; outline-offset: -1rem; left: 2rem; }

.index-swiss figure figcaption h3 { color: #ffc425; letter-spacing: 1px; text-shadow: 1px 1px 3px rgba(242, 242, 242, 0.1); }

.index-swiss .block-content { margin-left: 6rem; }

.index-swiss .block-content ul { margin-left: 2rem; }

.index-swiss .block-content ul li a { font-weight: bold; text-transform: uppercase; }

.index-swiss .block-content ul li a:hover { color: #ffc425; text-decoration: underline; }

.index-swiss .block-content .btn-visit { margin-top: 3rem; padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffc425; letter-spacing: 3px; border: 2px solid #ffc425; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; }

.index-swiss .block-content .btn-visit:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffc425; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.index-swiss .block-content .btn-visit:hover { color: #ffffff; }

.index-swiss .block-content .btn-visit:hover:after { top: 0; }

.slider:before, .slider:after { content: ""; display: table; clear: both; }

.other-services-box { position: relative; }

.other-services-box img { -o-object-fit: cover; object-fit: cover; -o-object-position: top center; object-position: top center; width: 100%; height: 50rem; display: block; }

.other-services-box-content { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 3; color: #ffffff; width: 85%; }

.other-services-box-content span, .other-services-box-content .toggle-menu span:after, .toggle-menu .other-services-box-content span:after, .other-services-box-content .toggle-menu span:before, .toggle-menu .other-services-box-content span:before { display: block; text-transform: uppercase; color: #ffd258; font-size: 2rem; text-align: center; letter-spacing: 3px; font-weight: 600; margin-bottom: 0; }

.other-services-box-content h3 { font-size: 4rem; }

.other-services-box-content a { padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffffff; letter-spacing: 3px; border: 2px solid #ffffff; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; }

.other-services-box-content a:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffffff; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.other-services-box-content a:hover { color: #141414; }

.other-services-box-content a:hover:after { top: 0; }

.other-services-box-content .text-wrapper { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); -webkit-transition: 0.5s ease; transition: 0.5s ease; }

.other-services-box-content .text-wrapper-header { -webkit-transform: translateY(80px); transform: translateY(80px); -webkit-transition: 0.5s ease; transition: 0.5s ease; }

.other-services-box-overlay { position: absolute; z-index: 2; background-color: rgba(13, 61, 88, 0.9); width: 100%; height: 100%; outline: 2px solid #ffffff; outline-offset: -15px; }

.other-services-box:hover .text-wrapper-header { -webkit-transform: translateY(0px); transform: translateY(0px); }

.other-services-box:hover .text-wrapper { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.testimonial { background: #fffaf1; }

.testimonial-slider-item { padding: 4rem 2rem; color: #ffffff; min-height: 45rem; background-size: cover; background-position: center center; }

.testimonial-slider-item-box { text-align: center; max-width: 50rem; margin: 0 auto; }

.testimonial-slider-item-box h3 { font-size: 4rem; }

.testimonial-slider-item-box ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.testimonial-slider-item-box ul li { color: gold; padding: 0 0.2rem; }

.testimonial-slider-item-box img { display: block; text-align: center; border-radius: 50%; margin: 0 auto; }

.bg-testimonial-dining { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.7)), to(rgba(20, 20, 20, 0.7))), url(../images/other-dining.jpg); background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../images/other-dining.jpg); }

.bg-testimonial-view { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.7)), to(rgba(20, 20, 20, 0.7))), url(../images/index-accomodation.jpg); background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../images/index-accomodation.jpg); }

.bg-testimonial-conference { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.7)), to(rgba(20, 20, 20, 0.7))), url(../images/other-conference.jpg); background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../images/other-conference.jpg); }

.offer-special .news-box { margin-bottom: 2rem; border: 1px solid #828282; min-height: 56rem; -webkit-transition: 0.5s ease; transition: 0.5s ease; }

.offer-special .news-box:hover { -webkit-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3); }

.offer-special .news-box-img { margin-bottom: 2rem; }

.offer-special .news-box-img img { width: 100%; height: 23rem; -o-object-fit: cover; object-fit: cover; -o-object-position: center center; object-position: center center; }

.offer-special .news-box-content { padding: 1rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; overflow: hidden; }

.offer-special .news-box-content h3 { font-size: 2.3rem; margin-bottom: 2rem; text-align: center; }

.offer-special .news-box-content p { margin-bottom: 3rem; }

.offer-special .news-box-content a { padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffc425; letter-spacing: 3px; border: 2px solid #ffc425; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; }

.offer-special .news-box-content a:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffc425; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.offer-special .news-box-content a:hover { color: #ffffff; }

.offer-special .news-box-content a:hover:after { top: 0; }

.page-block { padding: 7rem 0; min-height: 70rem; }

@media screen and (max-width: 415px) { .page-block { min-height: 40rem; } }

.page-block .page-block-content { max-width: 43rem; }

@media screen and (max-width: 415px) { .page-block .page-block-content { padding: 0 1.5rem; } }

.page-block .page-block-content a { padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffc425; letter-spacing: 3px; border: 2px solid #ffc425; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; }

.page-block .page-block-content a:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffc425; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.page-block .page-block-content a:hover { color: #ffffff; }

.page-block .page-block-content a:hover:after { top: 0; }

.page-figure-wrapper { padding: 7rem 0; }

.page-figure { position: relative; left: -5rem; -webkit-box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.3); box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.3); }

@media screen and (max-width: 415px) { .page-figure { left: 0rem; } }

.page-figure:after { position: absolute; left: -5rem; top: 4rem; content: ""; width: 100%; min-height: 55rem; background-color: transparent; border: 4px solid #ffc425; }

@media screen and (max-width: 415px) { .page-figure:after { display: none; } }

.page-figure img { width: 100%; min-height: 55rem; -o-object-fit: cover; object-fit: cover; display: block; }

.figure-left { left: 5rem; z-index: 3; }

@media screen and (max-width: 415px) { .figure-left { left: 0rem; } }

.figure-left:after { left: 5rem; }

@media screen and (max-width: 415px) { .figure-left:after { display: none; } }

.content-left { margin-left: 12rem; }

@media screen and (max-width: 415px) { .content-left { margin-left: 0rem; } }

.contact-form { background-image: -webkit-gradient(linear, left top, left bottom, from(#006ead), to(rgba(0, 110, 173, 0.9))), url("../images/banner.jpg"); background-image: linear-gradient(#006ead, rgba(0, 110, 173, 0.9)), url("../images/banner.jpg"); background-position: center center; background-repeat: no-repeat; background-size: cover; color: #ffffff; }

.restaurant-info ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.restaurant-info ul li:last-child { margin-left: 1rem; }

.restaurant-info ul li { font-weight: bold; text-transform: uppercase; }

.restaurant-meals { position: relative; }

.restaurant-meals img { width: 100%; height: auto; display: block; }

.restaurant-meals .meal-overlay { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.7); outline: 1px solid rgba(255, 196, 37, 0.5); outline-offset: -3rem; }

.restaurant-meals-content { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #ffffff; }

.restaurant-meals-content h3 { font-size: 4rem; }

.restaurant-meals-content a { padding: 1rem 2rem; display: inline-block; margin-bottom: 2rem; text-transform: uppercase; color: #ffc425; letter-spacing: 3px; border: 2px solid #ffc425; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; z-index: 1; overflow: hidden; font-weight: bold; font-size: 1.1rem; cursor: pointer; color: #ffffff; opacity: 0; -webkit-transform: translateY(2rem); transform: translateY(2rem); }

.restaurant-meals-content a:after { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background: #ffc425; z-index: -1; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.restaurant-meals-content a:hover { color: #ffffff; }

.restaurant-meals-content a:hover:after { top: 0; }

.restaurant-meals-content:hover a { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }

.testimonial-slider .slick-prev, .testimonial-slider .slick-next { font-size: 3rem; background-color: #141414; color: #ffffff; padding: 1rem; }

button { margin: 0; padding: 0; background: none; border: none; border-radius: 0; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.slide-arrow { position: absolute; top: 50%; margin-top: -15px; cursor: pointer; z-index: 3; }

.prev-arrow { left: -40px; width: 0; height: 0; border-left: 0 solid transparent; border-right: 15px solid #113463; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }

.next-arrow { right: -40px; width: 0; height: 0; border-right: 0 solid transparent; border-left: 15px solid #113463; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
/*# sourceMappingURL=main.css.map */